<launch>
	<include file="$(find openni2_launch)/launch/openni2.launch" />

	<group ns="hexapod">
		<group ns="servo">
			<node name="servo_controller" pkg="hexapod_servo" type="servo_controller.py"  output="screen"/>

			<node name="joint_controller" pkg="hexapod_servo" type="joint_controller.py">
				<param name="offsets_path" value="/home/knifa/HexapodKit/ROS/joint_offsets.dat" />
			</node>
		</group>

		<group ns="locomotion">
			<node name="walker" pkg="hexapod_locomotion" type="walker.py">
				<param name="up_angle" value="45" />
				<param name="down_angle" value="15" />

				<param name="body_linear_swing" value="10" />
				<param name="body_angular_swing" value="10" />

				<param name="distance_per_cycle" value="0.028571428571428" />
				<param name="distance_per_second" value="0.035714285714285" />
				<param name="rotation_per_second" value="0.218166156" />
			</node>

			<node name="joystick_controller" pkg="hexapod_locomotion" type="joystick_controller.py" />
		</group>
	</group>

	<node name="joy" pkg="joy" type="joy_node" />
</launch>