<launch>
	<group ns="hexapod">
		<group ns="servo">
			<node name="servo_controller" pkg="hexapod_servo" type="servo_controller.py" />
			<node name="joint_controller" pkg="hexapod_servo" type="joint_controller.py">
				<param name="offsets_path" value="/home/knifa/HexapodKit/ROS/joint_offsets.dat" />
			</node>
		</group>

		<group ns="locomotion">
			<node name="walker" pkg="hexapod_locomotion" type="walker.py" output="screen" />
			<node name="joystick_controller" pkg="hexapod_locomotion" type="joystick_controller.py" />
		</group>
	</group>

	<node name="joy" pkg="joy" type="joy_node" />
</launch>